ServicioalCliente/Web References/localhost/OrdersWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetOrdenPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orden" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOrdenPedidoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMontoTotal">
        <s:complexType />
      </s:element>
      <s:element name="GetMontoTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMontoTotalResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaldo">
        <s:complexType />
      </s:element>
      <s:element name="GetSaldoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSaldoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetOrdenPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:SetOrdenPedido" />
  </wsdl:message>
  <wsdl:message name="SetOrdenPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:SetOrdenPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMontoTotalSoapIn">
    <wsdl:part name="parameters" element="tns:GetMontoTotal" />
  </wsdl:message>
  <wsdl:message name="GetMontoTotalSoapOut">
    <wsdl:part name="parameters" element="tns:GetMontoTotalResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaldoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSaldo" />
  </wsdl:message>
  <wsdl:message name="GetSaldoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSaldoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SetOrdenPedido">
      <wsdl:input message="tns:SetOrdenPedidoSoapIn" />
      <wsdl:output message="tns:SetOrdenPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMontoTotal">
      <wsdl:input message="tns:GetMontoTotalSoapIn" />
      <wsdl:output message="tns:GetMontoTotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSaldo">
      <wsdl:input message="tns:GetSaldoSoapIn" />
      <wsdl:output message="tns:GetSaldoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetOrdenPedido">
      <soap:operation soapAction="http://tempuri.org/SetOrdenPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMontoTotal">
      <soap:operation soapAction="http://tempuri.org/GetMontoTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaldo">
      <soap:operation soapAction="http://tempuri.org/GetSaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetOrdenPedido">
      <soap12:operation soapAction="http://tempuri.org/SetOrdenPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMontoTotal">
      <soap12:operation soapAction="http://tempuri.org/GetMontoTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaldo">
      <soap12:operation soapAction="http://tempuri.org/GetSaldo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:55795/OrdersWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:55795/OrdersWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>